*{
  cursor: url(./image/cj.png) 10 10, default;
}

body {
  margin: 0;
  padding: 0;
}

.nav-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.line-top, .line-middle, .line-bottom{
  background-color: #fff;
  height: 4px;
  width: 30px;
  position: absolute;
}

.nav-cointainer{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}

.nav-pg{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.pg1{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.cls-1{
  fill: #000;
}

.cls-2{
  fill: #fff;
}

.svg-container{
  padding-right: 10%;
  padding-left: 10%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


#title {
  width: 50vw;
}

@media only screen and (max-width: 600px) {
    #title{
      width:75vw;
    }
}


.pg2{
  width: 100vw;
  height: 100vh;
  background-color: #555;
}

.pg3{
  width: 100vw;
  height: 100vh;
  background-color: white;
}
